extends layout

block content
  //- content
  div(class="container-fuild")
    div(class="row")
      div(id="bg-carousel" class="carousel slide" data-ride="carousel")
        //- indicators
        ol(class="carousel-indicators")
          li(data-target="#bg-carousel" data-slide-to="0" class="active")
          li(data-target="#bg-carousel" data-slide-to="1")
        div(class="carousel-inner")
          div(class="item carousel-item active")
            image(src="bg/bg.jpg" class="bg-image")
            div(class="carousel-caption")
              h1 Cuộc gọi trực tuyến
              p Đơn giản, dễ thực hiện
          div(class="item carousel-item")
            image(src="bg/bg.jpg" class="bg-image")
            div(class="carousel-caption")
              h1 Hội thoại công việc
              p Tiện dụng, tối ưu

          //- carousel controls
          a(class="left carousel-control" href="#bg-carousel" data-slide="prev")
            span(class="glyphicon glyphicon-chevron-left")
            span(class="sr-only") Prev
          a(class="right carousel-control" href="#bg-carousel" data-slide="next")
            span(class="glyphicon glyphicon-chevron-right")
            span(class="sr-only") Next
      //- button(class="btn btn-danger") Button
  //- login modal
  div(id="login-modal" class="modal fade login-modal-sm" tabindex="-1" role="dialog"
    aria-labelledby="login-modal" aria-hidden="true")
    div(class="modal-dialog modal-sm")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal")
            span(aria-hidden="true") &times;
            span(class="sr-only") Close
          //- h4(class="modal-title" id="login-modal-label") Đăng nhập
          ul(class="nav nav-tabs" role="tablist")
            li(class="active")
              a(href="#login-tab" role="tab" data-toggle="tab")
                b Đăng nhập
            li
              a(href="#register-tab" role="tab" data-toggle="tab")
                b Đăng ký
        div(class="modal-body")
          div(class="tab-content")
            div(class="tab-pane active" id="login-tab")
              form(class="form-horizontal" role="form" action="/login" method="POST")
                div(class="form-group")
                  label(for="email" class="col-sm-2 control-label") Email
                  div(class="col-sm-10")
                    input(type="email" class="form-control" name="email" placeholder="Email")
                div(class="form-group")
                  label(for="password" class="col-sm-2 control-label") Mật khẩu
                  div(class="col-sm-10")
                    input(type="password" class="form-control"
                      name="password" placeholder="Mật khẩu")
                div(class="form-group")
                  div(class="col-sm-offset-2 col-sm-10")
                    button(type="submit" class="btn btn-primary") Đăng nhập
            div(class="tab-pane" id="register-tab")
              form(class="form-horizontal" role="form" action="/signup" method="POST")
                div(class="form-group")
                  div(class="col-sm-6")
                    input(type="text" class="form-control"
                      name="firstname" placeholder="Tên")
                  div(class="col-sm-6")
                    input(type="text" class="form-control"
                      name="lastname" placeholder="Họ")
                div(class="form-group")
                  div(class="col-sm-12")
                    input(type="email" class="form-control"
                      name="email" placeholder="Email")
                div(class="form-group")
                  div(class="col-sm-12")
                    input(type="password" class="form-control"
                      name="password" placeholder="Mật khẩu mới")
                div(class="form-group")
                  div(class="col-sm-12")
                    button(class="btn btn-primary" style="width: 100%;") Tạo tài khoản mới
              div(class="row")
                p(style="text-align: center;")
                  b Hoặc
              div(class="row")
                div(class="col-sm-6")
                  p(style="text-align: center;")
                    a(href="/auth/google" style="color: red;") Đăng ký với Google+
                div(class="col-sm-6")
                  p(style="text-align: center;")
                    a(href="") Đăng ký với Facebook
  include includes/footer.pug